html {height:100%; background-image:url("/Best-space-wallpapers-for-desktop.jpg");background-size:cover;}
body {padding:0; margin:0 0 0 50%; background: black; color:#fff; width:50%; min-height:100%; float:right;}
#left_col {float:left; width:100%; margin-left:-100%; text-align:right; background:transparent no-repeat right top; color:#000;}
#left_col_inner {padding:10px; color:white;}
#right_col {background:black no-repeat left top;}
#right_col_inner {padding:10px; color:#fec;}


nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #333;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ffffff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #999;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
