	

		<!-- Main -->
			<div id="main">
			
				<!-- Intro -->
					<section id="top" class="one">
						<div class="container">

							<a href="#" class="image featured"><img src="../images/about.jpg" alt="" /></a>

							<header>
								<h2 class="alt">Hello, I'm <strong>KEN</strong>. 
							</header>
							
							
                            <p>Lorem ipsum dolor sit amet, at his invenire adipiscing. Percipit perfecto electram his cu. Brute saperet copiosae ius cu. Id pri verear tritani praesent, sed no tota melius insolens. Expetendis posidonium te vel. Quo ea feugiat ceteros iudicabit, putant oblique volumus ex duo.
							</p>
							

						</div>
					</section>
					
					<!-- About Me -->
					<section id="about" class="two">
						<div class="container">

							<header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/about.jpg" alt="" /></a>
							
                        <p>Lorem ipsum dolor sit amet, at his invenire adipiscing. Percipit perfecto electram his cu. Brute saperet copiosae ius cu. Id pri verear tritani praesent, sed no tota melius insolens. Expetendis posidonium te vel. Quo ea feugiat ceteros iudicabit, putant oblique volumus ex duo.
						</p>	

						</div>
					</section>
					
					
					

				
			
				<!-- Contact -->
					<section id="contact" class="three">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>
					<a href="#" class="image featured"><img src="images/about.jpg" alt="" /></a>
							<p>You can reach me at <br />
							
				<a href="mailto:kurniawanekn@gmail.com">kurniawanekn@gmail.com</a> <br />
				<a href="https://twitter.com/kurniawanen"> Twitter</a> <br />
				<a href="https://github.com/kurniawanen">Github</a> <br />
							</p>
							<!--
							<form method="post" action="#">
								<div class="row half">
									<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<a href="#" class="button submit">Send Message</a>
									</div>
								</div>
							</form> -->

						</div>
					</section>
			
			</div>
