<!DOCTYPE HTML>
<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="icon" href="../images/logo.png" />
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <span class="avatar"><a href="http://kurniawanen.github.io"><img src="../images/avatar.jpg" alt="" /></a></span>
            <h1>
                <ht1>Hi,</ht1>
                <ht2>I'm</ht2>
                <ht3>KEN</ht3> 
               
            </h1>
            <ul class="icons">
                <li><a href="http://github.com/kurniawanen" target="_blank" class="icon style2 fa-github"><span class="label">github</span></a></li>
                <li><a href="../about" class="icon style2 fa-info-circle"><span class="label">about</span></a></li>
                <li><a href="../contact" class="icon style2 fa-phone"><span class="label">contact</span></a></li>
                <li><a href="mailto:kurniawanekn@gmail.com" target="_blank" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
        </header>
        <!-- Main -->
        <section id="main">
            {{content}}
        </section>
        <!-- Footer -->
        <footer id="footer">
            <p>kurniawanen
                <br /><a href="http://wtfpl.net" target="_blank">WTFPL License</a> </p>
        </footer>
    </div>
</body>

</html>
