<!DOCTYPE html>
	<html>
		<body background="kurniawanen.github.io/Best-space-wallpapers-for-desktop.jpg"></body>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        	
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kurniawanekn@gmail.com">kurniawanekn@gmail.com</a></li>
	        		<li><a href="https://github.com/kurniawanen">github.com/kurniawanen</a></li>
				</ul>
			</footer>
		</body>
	</html>
